// SASS STYLESHEET

*{
    margin: 0;
}

// ############################## MIXINS ##############################
// SECTION HEADER
@mixin sectionHeader{
    border: 1px solid transparent;
    h2{
        text-align: center;
        color: #393d47;
        font-size: 2.2em;
    }

    .underline_sect{
        border-bottom: 4px solid #57EEA1;
    }
}

// EXPERIENCE BOX IMG
@mixin expBoxImg {
    img{
        margin-left: 50px;
        height: 60px;
        width: 140px;
    }
}
// EXPERIENCE BOX TEXT
@mixin expBoxText{
    color: #393d47;
    p{
        margin-top: 10px;
        margin-left: 20px;
        font-size: 1.05em;
    }
}


// ############################## THE MAGIC ##############################
// GRID CONTAINER
#grid-container{
    display: grid;
    grid-template-areas: 'home-section'
    'skills_section'
    'exp_section'
    ;
    grid-template-columns: 1fr;
    font-family: 'Nunito Sans', sans-serif;
}

// MARGIN WRAPPER
.margin-wrapper{
    margin-left: 150px;
    margin-right: 150px;
}

// ############################## HOME SECTION ##############################
#home-section {
    grid-area: home-section;
    height: 550px;
    background: linear-gradient(to bottom right, #292C33, #393d47);
    position: relative;
    overflow: hidden;
    
    // ############################## NAVBAR ##############################
    #navbar{
        position: fixed;
        z-index: 10000;
        height: 60px;
        background: rgb(23, 25, 29);
        width: 100%;

        // ############################## NAVBAR LOGO ##############################
        #navbar_logo{
            float: left;
            width: 20%;
            margin-top: 14px;

            a{
                text-decoration: none;
            }

            h3{
                font-family: 'Poppins', sans-serif;
                color: #D2D5DD;
                font-size: 1.3em;
                letter-spacing: 1px;
                cursor: pointer;
                transition: all 0.3s;

                &:hover{
                    color: #45bafc;
                }
            }
        }
        // ############################## NAVBAR LINKS ##############################
        #navbar_links{
            float: right;
            width: 75%;
            margin-top: 15px;
            text-align: right;

            a{
                font-family: 'Poppins', sans-serif;
                font-size: 1.1em;
                color: #B9C1D0;
                text-decoration: none;
                margin-left: 30px;
                transition: all 0.3s;

                &:hover{
                    color: #E8EBE4;
                }
            }
            .position{
                color: #57EEA1;
            }
        }
    }

    // ############################## HOME SECTION TITLE ##############################
    #home-section-title{
        transform: scale(0);
        position: relative;
        transition: all 1s;
        z-index: 1000;
        margin-top: 160px;

        h1{
            text-align: center;
            text-transform: uppercase;
            font-size: 3em;
            font-weight: 800;
            color: #45bafc;
        }

        // TITLE TEXT COLOR
        #title_text{
            color: #57EEA1;
        }
        p{
            margin-top: 30px;
            text-align: center;
            color: #B9C1D0;
            font-size: 1.2em;
        }

        // CONTACT BUTTON
        button{
            cursor: pointer;
            padding: 8px 16px;
            margin-top: 40px;
            border: none;
            outline: none;
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            border: 1px solid rgb(211, 199, 199);
            background: transparent;
            color: rgb(211, 199, 199);
            border-radius: 3px;
            transition: all 0.3s;

            &:hover{
                color: white;
                border-color: white;
            }
        }
    }
    h4{
        cursor: pointer;
        position: absolute;
        left: 50%;
        bottom: 0px;
        transform: translate(-50%,0%);
        text-align: center;
        font-size: 4em;
        color: #B9C1D0;
        animation: arrowBounce 1s infinite;
        transition: all 0.2s;

        &:hover{
            color: white;
        }

        @keyframes arrowBounce {
            0%{
                bottom: 0px;
            }
            50%{
                bottom: 5px;
            }
        }
    }

}

// ############################## SKILLS SECTION ##############################
#skills_section{
    grid-area: skills_section;
    height: 700px;
    margin-top: 30px;
    font-family: 'Nunito Sans', sans-serif;

    // SKILLS SECTION HEADER
    #skills_header{
        @include sectionHeader();
    }

    // SKILLS SECTION DESCRIPTION
    #skills_description{
        margin-top: 30px;
        p{
            text-align: center;
            color: #393d47;
            font-size: 1.1em;
        }
    }

    // SKILLS SECTION BOXES
    #skills_boxes{
        margin-top: 80px;
        display: grid;
        grid-template-areas: 'html_box css_box sass_box js_box'
        'responsive_box node_box git_box python_box'
        ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;

        // SKILLS CARD
        .skill_card{
            box-sizing: border-box;
            position: relative;
            background: #fff;
            border: 1px solid #dbdbdb;
            background: #fff;
            border-radius: 6px;
            height: 200px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
            transition: all 200ms ease;

            &:hover{
                box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
            }

            img{
                position: absolute;
                left: 50%;
                top: 40%;
                transform: translate(-50%,-50%);
                height: 50px;
                width: 50px;
            }
            p{
                position: absolute;
                left: 50%;
                top: 75%;
                transform: translate(-50%,-50%);
                color: #393d47;
                font-size: 1em;
                text-align: center;
            }
        }

        // HTML BOX
        #html_box{
            grid-area: html_box;
        }
        // CSS BOX
        #css_box{
            grid-area: css_box;
        }
        // SASS BOX
        #sass_box{
            grid-area: sass_box;
        }
        // JAVASCRIPT BOX
        #js_box{
            grid-area: js_box;
        }
        // RESPONSIVE BOX
        #responsive_box{
            grid-area: responsive_box;
        }
        // NODE BOX
        #node_box{
            grid-area: node_box;
        }
        // GIT BOX
        #git_box{
            grid-area: git_box;
        }
        // PYTHON BOX
        #python_box{
            grid-area: python_box;
        }
    }
}

// ############################## EXPERIENCE ##############################
#exp_section{
    grid-area: exp_section;
    margin-top: 20px;
    height: 650px;
    font-family: 'Nunito Sans', sans-serif;

    // EXPERIENCE HEADER
    #exp_header{
        @include sectionHeader();
    }

    // EXPERIENCE BOX 1
    #exp_box_1{
        margin-top: 40px;
        height: 150px;
        display: grid;
        grid-template-areas: 'exp_img1 exp_text1'
        ;
        grid-template-columns: 30% 1fr;
        grid-gap: 20px;
        border-bottom: 1px solid #e6e6e6;

        // IMG 1
        #exp_img1{
            grid-area: exp_img1;
            @include expBoxImg();
        }
    
        // TEXT 1
        #exp_text1{
            grid-area: exp_text1;
            @include expBoxText();
        }
    }    

    // EXPERIENCE BOX 2
    #exp_box_2{
        margin-top: 40px;
        height: 170px;
        display: grid;
        grid-template-areas: 'exp_img2 exp_text2'
        ;
        grid-template-columns: 30% 1fr;
        grid-gap: 20px;
        border-bottom: 1px solid #e6e6e6;

        // IMG 2
        #exp_img2{
            grid-area: exp_img2;
            @include expBoxImg();
        }
    
        // TEXT 2
        #exp_text2{
            grid-area: exp_text2;
            @include expBoxText();
        }
    }

    // EXPERIENCE BOX 3
    #exp_box_3{
        margin-top: 40px;
        height: 150px;
        display: grid;
        grid-template-areas: 'exp_img3 exp_text3'
        ;
        grid-template-columns: 30% 1fr;
        grid-gap: 20px;
        border-bottom: 1px solid #e6e6e6;

        // IMG 3
        #exp_img3{
            grid-area: exp_img3;
            img{
                height: 100px;
                width: 100%;
            }
        }
    
        // TEXT 3
        #exp_text3{
            grid-area: exp_text3;
            @include expBoxText();
        }
    }

    // JOB TITLE
    .exp_title{
        font-size: 1.2em;
        margin-top: 0px;
    }
}